.accordion {
    margin-top: 150px;
    //height: 330vh;
    
    &__wrapper {
        //max-width: 820px;
        display: grid;
        grid-template-columns: 1fr 2fr;

        @include breakpoint-down(medium) {
            grid-template-columns: 1fr;
        }
    }

    &__links {
        max-width: 211px;

        @include breakpoint-down(medium) {
            display: none;
        }


        pre {
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
            font-size: 24px;
            line-height: 55px;
            padding: 0;
            margin: 0;
        }

        a {
            color: $Grey;
        }
    }

    .acc {
        background-color: $LightCream;
        color: $Grey;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        font-family: 'Fraunces', sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.4s;
        text-align: left;
        margin-bottom: 56px;
        
    }

    .panel {
        
        background-color: $LightCream;
        display: none;
        overflow: hidden;
        max-width: 730px;
        

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 23px;
            margin-bottom: 88px;

            @include breakpoint-down(small) {
                grid-template-columns: 1fr;
            }
        }

        &__item {
            background-color: #F4F1EB;
            max-width: 228px;
            padding: 32px 28px 50px 28px;
            border-radius: 8px;

            @include breakpoint-down(medium) {
                max-width: 100%;
            }

            &:hover {
                background-color: $PaleOrange;
            }
        }

        &__title {
            padding-bottom: 24px;
        }

    }

    
    &__result {
        visibility: visible;
        background-color: $DarkGreyBlue;
        height: 208px;
        max-width: 730px;
        border-radius: 8px;

        @include breakpoint-down(small) {
            height: 340px;
        }
    }

    .summary {
        font-family: 'Barlow', sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 64px;
        padding-top: 47px;
    }

    .chosen-points {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
        margin-left: 64px;
    }

    .button {
        margin-top: 40px;
        float: right;
        margin-bottom: 50px;
    }
}