.collection {

    .pale {
        font-size: 9.375rem;
        color: $Grey;
        //background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
      
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.875rem;
    }
    
    &__image {
        height: 12.0625rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 0 4.4375rem 0;
    }
}

