.feature {
    .container {
        margin-top: 21.9375rem;

        @include breakpoint-down(medium) {
            margin-top: 27.125rem;  
        }

        @include breakpoint-down(small) {
            margin-top: 717px;
        }
           
    }

    &__title {
        color: $Grey;
        margin-bottom: 5rem;

        @include breakpoint-down(medium) {
            margin-bottom: 2.5rem;
        }

        @include breakpoint-down(small) {
            font-size: 24px;
            text-align: center;
        }
    }

    .step {
        position: relative;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid $DarkCyan;
        background-color: $LightCream;
        line-height: 100px;
        text-align: center;
        margin-bottom: 4.1875rem;

        @include breakpoint-down(small) {
            display: none;
        }
    }

    &__figure {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            width: calc(100% + 5.9375rem);
            height: 0;
            border-bottom: 2px solid $PaleOrange;
            z-index: -1;

            @include breakpoint-down(medium) {
                width: calc(100% + 1.875rem);
            }
        }

        @include breakpoint-down(small) {
            display: none;
        }

    }
    

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4.1875rem;
        gap: 5.9375rem;
        margin-bottom: 4rem;

        @include breakpoint-down(medium) {
            gap: 1.875rem;
        }

        @include breakpoint-down(small) {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__subtitle {
        color: $DarkGreyBlue;
        margin-bottom: 2.625rem;
        font-size: 2rem;
        max-width: 12.5rem;

        @include breakpoint-down(small) {
            margin: 0 auto;
            margin-bottom: 24px;
            max-width: 327px;
            font-size: 28px;
        }
    }

    &__number {
        margin-bottom: 2.375rem;
        font-family: 'Fraunces', sans-serif;
        font-size: $font-xlg;
        color: $PaleOrange;

        @include breakpoint-down(small) {
            margin-bottom: 24px;
        }
    }

    &__description {
        color: $DarkGreyBlue;
    }

    .button {
        margin-bottom: 12.5rem;

        @include breakpoint-down(medium) {
            margin-bottom: 9rem;
        }

        @include breakpoint-down(small) {
            margin-left: 65px;
        }
    }
}