html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $LightCream;
    font-family: 'Barlow', sans-serif;
    font-size: $font-med;
    font-weight: 400;

}

// Text

a, a:visited, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0px;
}

h1 {
    font-weight: 900;
    font-family: 'Fraunces', sans-serif;
    font-size: $font-xlg;
    line-height: 72px;
    color: $LightCream;

    @include breakpoint-down(medium) {
        font-size: 3rem;
        width: 20.625rem;
    }
}

h2 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 900;;
}

p {
    font-size: $font-med;
    font-weight: 300;
    margin-top: 0;
    line-height: 26px;
}


// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    
    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Spacing

.container {
    max-width: 80rem;
    margin: 0 auto;


   @include breakpoint-down(medium){
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    &--px {
        padding-left: 5.3125rem;
        padding-right: 5.3125rem;

        @include breakpoint-down(medium){
            padding-left: 0px;
            padding-right: 0px;


        }

    }
}


// Buttons
.button {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.125rem;
    line-height: 25px;
    position: relative;
    display: inline-block;
    background-color: $DarkCyan;
    padding: 0.9375rem 1.9375rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
    color: $LightCream;
    

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &:hover::before {
        opacity: 1;
    }
}


// Visibility

