.header {
    nav {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }

    &__logo {

        img {
            width: 14.75rem;
            height: 1.625rem;
        }
    }

    &__links {

        a {
            //position: relative;
            font-size: $font-sm;
            font-weight: 700;
            color: $Grey;
            text-transform: uppercase;
            letter-spacing: 0.92px;
        

            &:not(:last-child){
                margin-right: 32px;
            }
        }
        
    }

    
}
        
        