.order-summary {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    

    @include breakpoint-down(small) {
        max-width: 400px;
        height: 700px;
        margin-bottom: 100px;
    }

    .modal-content {
        margin: 5% auto; 
        padding: 20px;
        width: 50%;
    }

    .close-line {
        margin-top: 10px;
        background-color: #aaa;
        float: right;
        width: 15px;
        height: 2px;
        cursor: pointer;

        &_first {
            transform: rotate(45deg);
        }

        &_second {
            transform: translateX(93%) rotate(-45deg);
        }
    }

    .order {
        background-color: $DarkGreyBlue;
        height: 136px;
        padding-left: 56px; 
        border: 1px solid $DarkGreyBlue;
        border-radius: 8px;

        @include breakpoint-down(small) {
            padding: 24px;
            height: 88px;
        }
    }

    h3 {
        padding-top: 48px;
        color: $LightCream;
        font-size: 40px;
    }

    p {
        padding-left: 56px; 
        padding-right: 56px; 

        @include breakpoint-down(small) {
            padding: 24px;
        }
    }

    .button {
        margin-left: 56px; 
    }

    .chosen-points {
        padding-top: 57px;
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: $Grey;
    }

    .constant {
        color: $DarkGreyBlue;
    }

    .counting {
        margin-right: 56px; 
        margin-bottom: 56px;
        margin-top: 47px;
    }

    .nums {
        font-family: 'Fraunces', sans-serif;
        font-size: 32px;
        font-weight: 900;
    }

    .wrapp {
        background-color: white;
        border: 1px solid white;
        border-radius: 8px;
    }
    
}

.show {
    display: block;
}
