.quality {
    margin-bottom: 168px;

    .container {
        background: $DarkGreyBlue;
        height: 474px;
        border-radius: 8px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        gap: 125px;
        align-items: center;

        @include breakpoint-down(medium) {
            grid-template-columns: 1fr;
            gap: 0px;
            text-align: center;
        }
    }

    &__text {

        @include breakpoint-down(medium) {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 90px;
        }
    }


    &__title {
        color: $LightCream;
        margin-bottom: 32px;

        @include breakpoint-down(small){
            font-size: 28px;
        }
    }

    &__description {
        color: $LightCream;
        max-width: 540px;

        @include breakpoint-down(medium) {
            max-width: 100%;
        }

        @include breakpoint-down(small){
            font-size: 15px;
            max-width: 100%;
        }
    }

    &__pic {
        padding-top: 80px;

        @include breakpoint-down(medium) {
            padding: 0px;
        }
    }


    &__image {
        background: url(/images/about/desktop/image-quality.jpg) no-repeat;
        height: 330px;
        max-width: 445px;
        border-radius: 8px;

        @include breakpoint-down(medium) {
            display: none;
        }
    }
}