// Colors
$DarkCyan: hsl(179, 81%, 29%);
$DarkGreyBlue: hsl(215, 19%, 25%);
$PaleOrange: hsl(25, 94%, 86%);
$LightCream: hsl(43, 78%, 98%);
$Grey: hsl(215, 5%, 54%);

// Font Sizes
$font-sm: 0.75rem; //12px
$font-med: 1rem; //16px
