html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefcf6;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0px;
}

h1 {
  font-weight: 900;
  font-family: 'Fraunces', sans-serif;
  font-size: 4.5rem;
  line-height: 72px;
  color: #fefcf6;
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 48px;
    width: 330px;
  }
}

h2 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 40px;
}

h3 {
  font-family: 'Fraunces', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  line-height: 26px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 39.9375em) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.container--px {
  padding-left: 85px;
  padding-right: 85px;
}

@media (max-width: 63.9375em) {
  .container--px {
    padding-left: 57px;
    padding-right: 57px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .container--px {
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
  }
}

.button {
  font-family: 'Fraunces', sans-serif;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  display: inline-block;
  background-color: #0e8684;
  padding: 15px 31px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
  color: #fefcf6;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.button:hover {
  opacity: .75;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.button:hover::before {
  opacity: 1;
}

.header nav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__logo img {
  height: 100%;
}

@media (max-width: 39.9375em) {
  .header__logo {
    z-index: 12;
  }
}

.header__links a {
  font-size: 0.75rem;
  font-weight: 700;
  color: #848990;
  text-transform: uppercase;
  letter-spacing: 0.92px;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

@media (max-width: 39.9375em) {
  .header .header__links_first {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .header .burger {
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: relative;
  }
}

@media (min-width: 40em) {
  .header .burger {
    display: none;
  }
}

@media (min-width: 64em) {
  .header .burger {
    display: none;
  }
}

.header .burger__line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.header .burger__line_first {
  top: 0;
}

.header .burger__line_second, .header .burger__line_third {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .burger__line_fourth {
  bottom: 0;
}

.header .burger_active {
  z-index: 12;
}

.header .burger_active .burger__line_first, .header .burger_active .burger__line_fourth {
  opacity: 0;
}

.header .burger_active .burger__line_second {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header .burger_active .burger__line_third {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 39.9375em) {
  .header .header__links_active {
    display: block;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #FEFCF7));
    background-image: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    -webkit-transition: .5s all linear;
    transition: .5s all linear;
  }
  .header .header__links_active a {
    position: relative;
    top: 130px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 80%;
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 39.9375em) {
  .header .header__links_active {
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0;
    left: 0;
    position: fixed;
  }
}

@media (min-width: 40em) {
  .header .header__links_active {
    display: none;
  }
}

@media (min-width: 64em) {
  .header .header__links_active {
    display: none;
  }
}

.intro__image {
  position: relative;
  background-image: url("/images/home/desktop/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  border-radius: 7px;
}

@media (max-width: 63.9375em) {
  .intro__image {
    width: 100%;
    height: 100%;
  }
}

.intro .light {
  color: #fefcf6;
  margin-bottom: 56px;
  max-width: 396px;
  line-height: 26px;
}

.intro h1 {
  max-width: 493px;
  padding-top: 117px;
  margin-bottom: 32px;
}

@media (max-width: 63.9375em) {
  .intro h1 {
    line-height: 48px;
  }
}

@media (max-width: 39.9375em) {
  .intro h1 {
    width: 100%;
  }
}

.intro .wrapper {
  margin-bottom: 136px;
}

.collection .pale {
  font-size: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#979ba0), to(#FEFCF7));
  background-image: linear-gradient(180deg, #979ba0, #FEFCF7);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100%;
}

@media (max-width: 63.9375em) {
  .collection .pale {
    font-size: 80px;
    width: 100%;
  }
}

@media (max-width: 39.9375em) {
  .collection .pale {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
}

.collection__grid {
  position: relative;
  top: -50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 63.9375em) {
  .collection__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 39.9375em) {
  .collection__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 0px;
    margin-top: 25px;
    text-align: center;
  }
}

.collection__image {
  height: 193px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 71px 0;
}

@media (max-width: 63.9375em) {
  .collection__image {
    margin: 0;
  }
}

@media (max-width: 39.9375em) {
  .collection__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: 200px 151px;
  }
}

.collection__title {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  padding-bottom: 24px;
}

@media (max-width: 63.9375em) {
  .collection__title {
    padding-top: 25px;
    text-align: left;
  }
}

@media (max-width: 39.9375em) {
  .collection__title {
    text-align: center;
  }
}

.collection__description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

@media (max-width: 63.9375em) {
  .collection__description {
    text-align: left;
    width: 100%;
  }
}

@media (max-width: 39.9375em) {
  .collection__description {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.collection__item {
  max-width: 255px;
}

@media (max-width: 63.9375em) {
  .collection__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 255px 282px;
        grid-template-columns: 255px 282px;
    padding-top: 15px;
  }
}

@media (max-width: 39.9375em) {
  .collection__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 63.9375em) {
  .collection__text {
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .collection__text {
    text-align: center;
  }
}

.benefits {
  margin-top: 100px;
  margin-bottom: 351px;
}

@media (max-width: 39.9375em) {
  .benefits {
    margin-top: 80px;
  }
}

.benefits .container {
  background-color: #2C343E;
  border-radius: 7px;
  position: relative;
  padding-bottom: 317px;
}

@media (max-width: 63.9375em) {
  .benefits .container {
    padding-bottom: 368px;
  }
}

@media (max-width: 39.9375em) {
  .benefits .container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 600px;
  }
}

.benefits h2 {
  color: #fefcf6;
  text-align: center;
  padding: 100px 0 32px 0;
  font-size: 40px;
}

@media (max-width: 63.9375em) {
  .benefits h2 {
    padding-top: 56px;
  }
}

@media (max-width: 39.9375em) {
  .benefits h2 {
    font-size: 28px;
    line-height: 28px;
  }
}

.benefits .light {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #fefcf6;
  text-align: center;
  max-width: 540px;
  font-weight: 300;
  line-height: 26px;
}

.benefits__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: absolute;
  top: 346px;
  margin-right: 57px;
}

@media (max-width: 63.9375em) {
  .benefits__grid {
    max-width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    top: 285px;
  }
}

@media (max-width: 39.9375em) {
  .benefits__grid {
    max-width: 100%;
    text-align: center;
    margin-top: 45px;
    gap: 24px;
  }
}

.benefits__item {
  background-color: #0e8684;
  border-radius: 7px;
}

@media (max-width: 63.9375em) {
  .benefits__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 39.9375em) {
  .benefits__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 63.9375em) {
  .benefits__text {
    text-align: left;
  }
}

@media (max-width: 39.9375em) {
  .benefits__text {
    text-align: center;
  }
}

.benefits__image {
  width: 72px;
  height: 72px;
  background-size: cover;
  margin-top: 72px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 63.9375em) {
  .benefits__image {
    margin: 62px 55px 62px 70px;
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 39.9375em) {
  .benefits__image {
    margin: 56px auto 56px auto;
    text-align: center;
    width: 72px;
    height: 72px;
  }
}

.benefits__title {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf6;
  margin-bottom: 24px;
}

@media (max-width: 63.9375em) {
  .benefits__title {
    padding: 0px;
    text-align: left;
    margin-top: 40px;
  }
}

@media (max-width: 39.9375em) {
  .benefits__title {
    text-align: center;
    margin-top: 0;
  }
}

.benefits__description {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #fefcf6;
  text-align: center;
  max-width: 350px;
  font-weight: 300;
  line-height: 26px;
  padding: 0 47px;
  margin-bottom: 48px;
  font-size: 15px;
}

@media (max-width: 63.9375em) {
  .benefits__description {
    text-align: left;
    padding: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
}

@media (max-width: 39.9375em) {
  .benefits__description {
    text-align: center;
    margin-right: 0;
    padding-right: 34px;
    padding-left: 34px;
  }
}

@media (max-width: 63.9375em) {
  .feature .container {
    margin-top: 434px;
  }
}

@media (max-width: 39.9375em) {
  .feature .container {
    margin-top: 717px;
  }
}

.feature__title {
  color: #848990;
  margin-bottom: 80px;
}

@media (max-width: 63.9375em) {
  .feature__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 39.9375em) {
  .feature__title {
    font-size: 24px;
    text-align: center;
  }
}

.feature .step {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #0e8684;
  background-color: #fefcf6;
  line-height: 100px;
  text-align: center;
  margin-bottom: 4.1875rem;
}

@media (max-width: 39.9375em) {
  .feature .step {
    display: none;
  }
}

.feature__figure {
  position: relative;
}

.feature__figure::before {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(100% + 5.9375rem);
  height: 0;
  border-bottom: 2px solid #fdd6ba;
  z-index: -1;
}

@media (max-width: 63.9375em) {
  .feature__figure::before {
    width: calc(100% + 1.875rem);
  }
}

@media (max-width: 39.9375em) {
  .feature__figure {
    display: none;
  }
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 67px;
  gap: 95px;
  margin-bottom: 64px;
}

@media (max-width: 63.9375em) {
  .feature__grid {
    gap: 30px;
  }
}

@media (max-width: 39.9375em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.feature__subtitle {
  color: #343e4c;
  margin-bottom: 42px;
  font-size: 32px;
  max-width: 200px;
}

@media (max-width: 39.9375em) {
  .feature__subtitle {
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 327px;
    font-size: 28px;
  }
}

.feature__number {
  margin-bottom: 38px;
  font-family: 'Fraunces', sans-serif;
  font-size: 4.5rem;
  color: #fdd6ba;
}

@media (max-width: 39.9375em) {
  .feature__number {
    margin-bottom: 24px;
  }
}

.feature__description {
  color: #343e4c;
}

.feature .button {
  margin-bottom: 200px;
  max-width: 217px;
}

@media (max-width: 63.9375em) {
  .feature .button {
    margin-bottom: 144px;
  }
}

@media (max-width: 39.9375em) {
  .feature .button {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.feature .grid-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.footer {
  background-color: #343e4c;
  min-height: 7.5rem;
  padding-top: 2.9375rem;
}

.footer a:not(:last-child) {
  margin-right: 1.5rem;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 63.9375em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

.footer .social__links {
  text-align: right;
}

@media (max-width: 63.9375em) {
  .footer .social__links {
    text-align: center;
    margin-bottom: 3.375rem;
  }
}

.footer .header__links {
  text-align: left;
}

@media (max-width: 63.9375em) {
  .footer .header__links {
    text-align: center;
    margin-bottom: 4.0625rem;
  }
}

@media (max-width: 39.9375em) {
  .footer .header__links {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (max-width: 63.9375em) {
  .footer .header__logo {
    margin-top: 3.375rem;
    margin-bottom: 2rem;
  }
}

.about-us {
  margin-bottom: 168px;
}

@media (max-width: 63.9375em) {
  .about-us .container--px {
    padding-left: 58px;
  }
}

@media (max-width: 39.9375em) {
  .about-us .container--px {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.about-us__image {
  background: url(/images/about/desktop/image-hero-whitecup.jpg);
  background-size: cover;
  height: 450px;
  border-radius: 8px;
}

.about-us__title {
  color: #fefcf6;
  padding-top: 137px;
  padding-bottom: 24px;
}

@media (max-width: 63.9375em) {
  .about-us__title {
    font-size: 32px;
  }
}

@media (max-width: 39.9375em) {
  .about-us__title {
    text-align: center;
  }
}

.about-us__description {
  color: #fefcf6;
  font-size: 1rem;
  max-width: 445px;
}

@media (max-width: 63.9375em) {
  .about-us__description {
    font-size: 15px;
  }
}

@media (max-width: 39.9375em) {
  .about-us__description {
    text-align: center;
  }
}

.commitment {
  margin-bottom: 250px;
}

.commitment__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .commitment__grid {
    gap: 69px;
  }
}

@media (max-width: 39.9375em) {
  .commitment__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.commitment__image {
  background: url(/images/about/desktop/image-commitment.jpg) no-repeat;
  background-size: 100%;
  height: 520px;
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 63.9375em) {
  .commitment__image {
    background-size: cover;
  }
}

.commitment__title {
  margin-bottom: 32px;
}

@media (max-width: 63.9375em) {
  .commitment__title {
    font-size: 32px;
  }
}

@media (max-width: 39.9375em) {
  .commitment__title {
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .commitment__description {
    font-size: 15px;
  }
}

@media (max-width: 39.9375em) {
  .commitment__description {
    text-align: center;
  }
}

.quality {
  margin-bottom: 168px;
}

.quality .container {
  background: #343e4c;
  height: 474px;
  border-radius: 8px;
}

.quality__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
  gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .quality__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 64px;
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .quality__text {
    position: relative;
    bottom: -200px;
  }
}

@media (max-width: 39.9375em) {
  .quality__text {
    position: relative;
    bottom: -100px;
  }
}

.quality__title {
  color: #fefcf6;
  margin-bottom: 32px;
}

@media (max-width: 39.9375em) {
  .quality__title {
    font-size: 28px;
  }
}

.quality__description {
  color: #fefcf6;
  max-width: 540px;
}

@media (max-width: 63.9375em) {
  .quality__description {
    max-width: 100%;
    padding: 0px 74px 67px 74px;
  }
}

@media (max-width: 39.9375em) {
  .quality__description {
    font-size: 15px;
    max-width: 100%;
    padding: 0px 24px 61px 24px;
  }
}

.quality__image {
  background: url(/images/about/desktop/image-quality.jpg) no-repeat;
  height: 474px;
  max-width: 445px;
  border-radius: 8px;
  position: relative;
  top: -75px;
}

@media (max-width: 63.9375em) {
  .quality__image {
    background: url(/images/about/tablet/image-quality.jpg) no-repeat;
    top: -520px;
    left: 57px;
    max-width: 573px;
    height: 320px;
    background-size: cover;
  }
}

@media (max-width: 39.9375em) {
  .quality__image {
    background: url(/images/about/mobile/image-quality.jpg) no-repeat;
    background-size: cover;
    max-width: 279px;
    height: 156px;
    top: -530px;
    left: 35px;
  }
}

.headquarters {
  margin-bottom: 168px;
}

.headquarters .main__title {
  color: #848990;
  margin-bottom: 72px;
}

@media (max-width: 39.9375em) {
  .headquarters .main__title {
    text-align: center;
  }
}

.headquarters__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 95px;
}

@media (max-width: 39.9375em) {
  .headquarters__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

.headquarters__icon {
  width: 50px;
  height: 50px;
  background: no-repeat;
  margin-bottom: 46px;
}

@media (max-width: 39.9375em) {
  .headquarters__icon {
    margin-left: 142px;
  }
}

.headquarters__title {
  font-size: 32px;
  margin-bottom: 24px;
}

@media (max-width: 39.9375em) {
  .headquarters__title {
    font-size: 28px;
  }
}

.creative {
  margin-bottom: 168px;
}

@media (max-width: 63.9375em) {
  .creative {
    margin-bottom: 144px;
  }
}

@media (max-width: 39.9375em) {
  .creative {
    margin-bottom: 120px;
  }
}

@media (max-width: 63.9375em) {
  .creative .container--px {
    padding-left: 58px;
  }
}

@media (max-width: 39.9375em) {
  .creative .container--px {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.creative__image {
  background: url(/images/plan/desktop/image-hero-blackcup.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

@media (max-width: 63.9375em) {
  .creative__image {
    height: 400px;
    width: 100%;
  }
}

.creative__title {
  color: #fefcf6;
  font-size: 72px;
  padding-top: 130px;
}

@media (max-width: 63.9375em) {
  .creative__title {
    font-size: 48px;
    padding-top: 120px;
  }
}

@media (max-width: 39.9375em) {
  .creative__title {
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
  }
}

.creative__description {
  color: #fefcf6;
  max-width: 445px;
  padding-top: 32px;
}

@media (max-width: 63.9375em) {
  .creative__description {
    font-size: 15px;
  }
}

@media (max-width: 39.9375em) {
  .creative__description {
    text-align: center;
  }
}

.dark .darkness {
  padding-top: 80px;
}

@media (max-width: 63.9375em) {
  .dark .darkness {
    padding-top: 50px;
  }
}

@media (max-width: 39.9375em) {
  .dark .darkness {
    padding-top: 30px;
  }
}

.dark .step {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #0e8684;
  background-color: #343e4c;
  line-height: 100px;
  text-align: center;
  margin-bottom: 4.1875rem;
}

@media (max-width: 39.9375em) {
  .dark .step {
    display: none;
  }
}

.dark .container {
  background: #343e4c;
  border-radius: 8px;
}

@media (max-width: 63.9375em) {
  .dark .container--px {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.dark__figure {
  position: relative;
}

.dark__figure::before {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(100% + 5.9375rem);
  height: 0;
  border-bottom: 2px solid #fdd6ba;
}

@media (max-width: 63.9375em) {
  .dark__figure::before {
    width: calc(100% + 1.875rem);
  }
}

@media (max-width: 39.9375em) {
  .dark__figure {
    display: none;
  }
}

.dark__subtitle {
  color: #fefcf6;
  margin-bottom: 42px;
  font-size: 32px;
  max-width: 255px;
}

@media (max-width: 63.9375em) {
  .dark__subtitle {
    font-size: 28px;
  }
}

.dark__description {
  color: #fefcf6;
  margin-bottom: 100px;
  max-width: 355px;
}

@media (max-width: 63.9375em) {
  .dark__description {
    font-size: 15px;
  }
}

.accordion {
  margin-top: 150px;
}

.accordion__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media (max-width: 63.9375em) {
  .accordion__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.accordion__links {
  max-width: 211px;
}

@media (max-width: 63.9375em) {
  .accordion__links {
    display: none;
  }
}

.accordion__links pre {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 55px;
  padding: 0;
  margin: 0;
}

.accordion__links a {
  color: #848990;
}

.accordion .acc {
  background-color: #fefcf6;
  color: #848990;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Fraunces', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: left;
  margin-bottom: 56px;
}

.accordion .panel {
  background-color: #fefcf6;
  display: none;
  overflow: hidden;
  max-width: 730px;
}

.accordion .panel__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  margin-bottom: 88px;
}

@media (max-width: 39.9375em) {
  .accordion .panel__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.accordion .panel__item {
  background-color: #F4F1EB;
  max-width: 228px;
  padding: 32px 28px 50px 28px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  .accordion .panel__item {
    max-width: 100%;
  }
}

.accordion .panel__item:hover {
  background-color: #fdd6ba;
}

.accordion .panel__title {
  padding-bottom: 24px;
}

.accordion .visible {
  display: block;
}

.accordion__result {
  visibility: visible;
  background-color: #343e4c;
  height: 208px;
  max-width: 730px;
  border-radius: 8px;
}

@media (max-width: 39.9375em) {
  .accordion__result {
    height: 340px;
  }
}

.accordion .summary {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 64px;
  padding-top: 47px;
}

.accordion .chosen-points {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
  margin-left: 64px;
}

.accordion .button {
  margin-top: 40px;
  float: right;
  margin-bottom: 50px;
}

.accordion .green {
  background-color: #0e8684;
}

.accordion .green:hover {
  background-color: #0e8684;
}

.order-summary {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 39.9375em) {
  .order-summary {
    max-width: 400px;
    height: 700px;
    margin-bottom: 100px;
  }
}

.order-summary .modal-content {
  margin: 5% auto;
  padding: 20px;
  width: 50%;
}

.order-summary .close-line {
  margin-top: 10px;
  background-color: #aaa;
  float: right;
  width: 15px;
  height: 2px;
  cursor: pointer;
}

.order-summary .close-line_first {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order-summary .close-line_second {
  -webkit-transform: translateX(93%) rotate(-45deg);
          transform: translateX(93%) rotate(-45deg);
}

.order-summary .order {
  background-color: #343e4c;
  height: 136px;
  padding-left: 56px;
  border: 1px solid #343e4c;
  border-radius: 8px;
}

@media (max-width: 39.9375em) {
  .order-summary .order {
    padding: 24px;
    height: 88px;
  }
}

.order-summary h3 {
  padding-top: 48px;
  color: #fefcf6;
  font-size: 40px;
}

.order-summary p {
  padding-left: 56px;
  padding-right: 56px;
}

@media (max-width: 39.9375em) {
  .order-summary p {
    padding: 24px;
  }
}

.order-summary .button {
  margin-left: 56px;
}

.order-summary .chosen-points {
  padding-top: 57px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #848990;
}

.order-summary .constant {
  color: #343e4c;
}

.order-summary .counting {
  margin-right: 56px;
  margin-bottom: 56px;
  margin-top: 47px;
}

.order-summary .nums {
  font-family: 'Fraunces', sans-serif;
  font-size: 32px;
  font-weight: 900;
}

.order-summary .wrapp {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */